.services {
  background-color: #17c2a4;
  @include padding-block(118px, 125px);
  @media (max-width: 576px) {
    & {
      @include padding-block(60px, 60px);
    }
  }
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    @include text_param(40px, 29px, 700);
    @include main-text(#ffffff, 0.1em, 0);

    &::after {
      @include main-text_line(#14a78d);
    }
  }

  &_text {
    @include text_param(18px, 26px, 400);
    @include main-text(#ffffff, 0.024em, 36px);
    text-align: center;
    padding-inline: 8px;

    p:last-child {
      padding-left: 7px;
    }
  }

  @media (max-width: 576px) {
    &_title {
      font-size: 32px;
    }
    &_text {
      font-size: 16px;
    }
  }
  @media (max-width: 388px) {
    &_title {
      font-size: 26px;
      line-height: 28px;
    }
  }
}

.service-items {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding-inline: 35px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_logo {
      object-fit: scale-down;
    }

    &_text {
      @include text_param(16px, 24px, 300);
      letter-spacing: 0.02em;
      color: #ffffff;
      text-align: center;
      padding-left: 32px;
    }

    &_title {
      @include text_param(24px, 18px, 700);
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin-top: 54px;
      margin-bottom: 22px;
    }

    @media (max-width: 1200px) {
      &_title {
        text-align: center;
      }
    }



  }
}


