.skills {
  @include padding-block(116px, 123px);
  @media (max-width: 576px){
    &{@include padding-block(60px, 60px);}
  }

  .main-text {
    &_title {
      color: #3c4761;

      &::after {
        background-color: #dfe8ed;
      }
    }

    &_text {
      letter-spacing: 0.02em;
      color: #3c4761;
      span{
        padding-right: 2px;
      }
    }

    @media (max-width: 576px){
      &_title{
        font-size: 32px;
      }
      &_text{font-size: 16px;}
    }
  }

  .skill-items {
    margin: 50px 10px 0 10px;
    @media (max-width: 576px){
      &{ margin: 25px 0 0 0;}
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &_percent {
      }

      &_title {
        @include text_param(24px, 18px, 700);
        text-transform: uppercase;
        letter-spacing: 0.02em;
        color: #3c4761;
        text-align: center;
        margin-top: 18px;
        @media(max-width: 576px) {
          margin-bottom: 40px;
        }
      }
    }
  }



  $bg-color: #3c4761;
  $default-size: 1em;
  $label-font-size: $default-size / 4;
  $label-font-size-redo: $default-size * 4;

  //  mixins
  @mixin draw-progress($progress, $color) {
    .pie {
      .half-circle {
        border-color: $color;
      }

      .left-side {
        transform: rotate($progress * 3.6deg);
      }

      @if $progress <= 50 {
        .right-side {
          display: none;
        }
      } @else {
        clip: rect(auto, auto, auto, auto);

        .right-side {
          transform: rotate(180deg);
        }
      }
    }
  }
  @mixin draw-progress--solid($progress, $color, $bg-color) {
    background: linear-gradient(to right, $color 50%, $bg-color 50%);

    &:before {
      @if $progress <= 50 {
        background: $bg-color;
        transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
      } @else {
        background: $color;
        transform: rotate((100 - $progress) / 100 * 360deg);
      }
    }
  }

  //  selectors
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }


//size D of the circle
  .set-size {
    font-size: 159px;
    margin-left: 8px;
  }


// position for circle
  .charts-container {
    &:after {
      clear: both;
      content: '';
      display: table;
    }
  }

  .pie-wrapper {
    @include size($default-size, $default-size);
    float: left;
    margin: 15px;
    position: relative;

    &:nth-child(3n + 1) {
      clear: both;
    }

    .pie {
      @include size(100%, 100%);
      clip: rect(0, $default-size, $default-size, $default-size / 2);
      left: 0;
      position: absolute;
      top: 0;

      .half-circle {
        @include size(100%, 100%);
        border: ($default-size / 10) solid #3498db;
        border-radius: 50%;
        clip: rect(0, $default-size / 2, $default-size, 0);
        left: 0;
        position: absolute;
        top: 0;
      }
    }

    .label {
      background: $bg-color;
      border-radius: 50%;
      bottom: $label-font-size-redo / 10;
      color: #ecf0f1;
      cursor: default;
      display: block;
      font-size: 50px;
      left: 30px;
      position: absolute;
      right: $label-font-size-redo / 10;
      text-align: center;
      top: 42px;


      .smaller {
            font-size: 32px;
      }
    }

    .shadow {
      @include size(100%, 100%);
      border: $default-size / 10 solid #bdc3c7;
      border-radius: 50%;
    }

    &.style-2 {
      .label {
        background: none;
        color: #7f8c8d;

        .smaller {
          color: #bdc3c7;
        }
      }
    }


    &.progress-90 {
      @include draw-progress(90, #30bae7);
    }
    &.progress-75 {
      @include draw-progress(75, #d74680);
    }
    &.progress-70 {
      @include draw-progress(70, #15c7a8);
    }
    &.progress-85 {
      @include draw-progress(85, #eb7d4b);
    }
  }



  }



